<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="qaybe" value="https://nuget.qaybe.de" protocolVersion="2" />
    <add key="nexus" value="https://nexus.qaybe.de/repository/nuget-hosted/" protocolVersion="2" />
  </packageSources>
  <packageSourceCredentials>
    <qaybe>
      <add key="Username" value="EgjyQFtLpR94CaQ5abzBQuuwSupyqF" />
      <add key="ClearTextPassword" value="GVHGB2kNjJpt8yPMN-XHWRmXYJLZSqN" />
    </qaybe>
  </packageSourceCredentials>
</configuration>
